html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix::after {
	content: "";
	clear: both;
	display: block;
}
body {
	background: url(./Foto/divar.png);
}
.div1 {
	background-color: white;
	border-bottom: solid rgb(223, 218, 218) 2px;
	height: 90px;
}
.name {
	background-color: #4aaaa5;
	display: inline-block;
	margin-left: 200px;
	color: white;
	height: 100%;
	width: 18%;
	text-align: center;
	font-size: 35px;
	text-decoration: none;
	line-height: 2.5;
	font-weight: 900;
}
li {
	display: inline;
}
.menu {
	text-decoration: none;
	display: inline;
	font-size: 25px;
	margin: 0px 6px;
	line-height: 3.2;
	color: rgb(151, 150, 150);
}
nav {
	float: right;
	margin-right: 210px;
}
li +li::before {
	content: "❘";
	color: rgb(151, 150, 150);
	margin-right: 6px;
}
li a:hover {
	color: red;
	text-decoration: underline;
}
.div2 {
    background-color: white;
    width: 585px;
    height: 830px;
    border: solid rgb(223, 218, 218) 1px;
    padding: 40px 28px 50px 28px;
    margin: 38px 0px 38px 200px;
    display: inline-block;
}
h1 {
    color: #4aaaa5;
    font-size: 35px;
    font-weight: 600;
    border-bottom: rgb(230, 227, 227) solid 3px;
    padding-bottom: 25px;
}

.div3 {
	background-color: white;
	width: 270px;
	float: right;
	margin: 38px 193px 0px 38px;
	height: 200px;
	border: solid 1px rgb(223, 218, 218);
}
h2 {
	color: #4aaaa5;
	border-bottom: 2px solid rgb(240, 236, 236);
	font-size: 25px;
	font-weight: 900;
	padding-bottom: 20px;
	margin: 30px 30px 17px 30px;
}
.github {
	margin: 5px 1px 80px 30px;
}
.instagram {
	margin: 5px 1px 80px 1px;
}
.gmail {
	margin: 5px 1px 80px 1px;}
.hangman {
	width: 270px;
	height: 200px;
	position: relative;
	margin: 40px 10px 40px 0px;
	display: inline-block;
}
.hangman img {
	width: 100%;
	height: 100%;
	position: absolute;
}
.p {
	background-color: #4aaaa5;
	position: absolute;
	width: 100%;
	height: 60px;
	color: white;
	font-size: 25px;
	text-align: center;
	margin-top: 130px;
	line-height: 2.5;
}
.rpg {
	width: 270px;
	height: 200px;
	position: relative;
	margin: 40px 0px 20px 0px;
	float: right;
}
.rpg img {
	width: 100%;
	height: 100%;
	position: absolute;
}
.rp {
	background-color: #4aaaa5;
	position: absolute;
	width: 100%;
	height: 60px;
	color: white;
	font-size: 25px;
	text-align: center;
	margin-top: 130px;
	line-height: 2.5;
}
.trivia {
	width: 270px;
	height: 200px;
	position: relative;
	margin: 15px 10px 40px 0px;
	display: inline-block;
}
.trivia img {
	width: 100%;
	height: 100%;
	position: absolute;
}
.tp {
	background-color: #4aaaa5;
	position: absolute;
	width: 100%;
	height: 60px;
	color: white;
	font-size: 25px;
	text-align: center;
	margin-top: 130px;
	line-height: 2.5;
}
.rutgers {
	width: 270px;
	height: 200px;
	position: relative;
	margin: 15px 0px 40px 30px;
	display: inline-block;
}
.rutgers img {
	width: 100%;
	height: 100%;
	position: absolute;
}
.rip {
	background-color: #4aaaa5;
	position: absolute;
	width: 100%;
	height: 60px;
	color: white;
	font-size: 25px;
	text-align: center;
	margin-top: 130px;
	line-height: 2.5;
}
.led {
	width: 270px;
	height: 200px;
	position: relative;
	margin: 15px 0px 40px 0px;
	display: inline-block;
}
.led img {
	width: 100%;
	height: 100%;
	position: absolute;
}
.lp {
	background-color: #4aaaa5;
	position: absolute;
	width: 100%;
	height: 60px;
	color: white;
	font-size: 25px;
	text-align: center;
	margin-top: 130px;
	line-height: 2.5;
}
footer{
	background-color: #666;
	height: 100px;
	border-top: #4aaaa5 solid 8px;
	margin-top: 1%;
}
footer div {
	text-align: center;
	color: rgb(223, 218, 218);
	line-height: 8;
	font-size: 12px;
}